#font-style{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 30px;
    font-weight:700;
}

.body-setup{
    margin: 0;
}

.heading-color{
    color: gray;

}

span{
    color: orange;
}

.flexible{
    display: flex;
    margin: 150px;
}

.half-width{
    width: 50%;
}

#text-decoration{
    margin-top: 80px;
    margin-left: 100px;
}


#link1-decoration{
    padding: 15px 20px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
}

#link2-decoration{ 
    padding: 15px 20px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient(orange,grey);
}

#div-link2{
    margin-left: 140px;
    margin-top: 15px;
    
    
}
#heading-decoration{
    color: darkslategray;
    margin-left: 140px;
    margin-top: 60px;
    
}

#para-decoration{
    color:darkslategray;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 60px;
    margin-right: 100px;
    padding: 0px 90px 0px 90px;
}



#background-img{
    background-image: url(images/bg/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position: left;
    margin-left: 0;
    padding: 0;
    width: 100%;
    height: 700px;
}

.text-center{
    color: lightsteelblue;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 280px;
    margin-right: 280px;
}

.food-decoration{
    width: 30%;
    
}

#image-center{
    margin-top: 20px;
    margin-left: 50px;
    
    
}

.box-design{
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 30px;
    width: 30%;
    box-shadow: 5px 7px 40px gray;
}

#followers-box{
    
    height: 150px;
    border-radius: 20px;
    box-shadow:5px 5px 40px gray ;
}

.followers-design{
    
    margin-left:5px ;
    padding-left: 300px;
}

#review-style{

    text-align: center;
    font-size: 40px;
    color:indigo;

}

#star-style{
    margin: 0;
    text-align: center;
    font-size: 40px;
    
}

.button-design{
    text-align: center;
    margin-top: 5px;

}

.footer-design{
    background-color:black;
    text-align: center;
    color: brown;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 10px;

}






